<?xml version="1.0" encoding="utf-8" ?>
<device name="common" >

  <commands>
    <command cmdName="clearStatus" scpi= "*CLS" >  </command>
    <command cmdName="identification" scpi= "*IDN?" >  </command>
    <command cmdName="optionNumber" scpi= "*OPT?" >  </command>
    <command cmdName="reset" scpi= "*RST" >  </command>
    <command cmdName="statusByte" scpi= "*STB?">  </command>
    <command cmdName="selfTest" scpi= "*TST?" >  </command>
    <command cmdName="pause" scpi= "*WAI" >  </command>
  
  </commands>
</device>