<?xml version="1.0" encoding="utf-8" ?>
<device name= "MPS1" model= "N6700C" manufacturer= "Keysight"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="device.xsd">
  <!-- This device has only one module in the power supply for demonstration purposes-->
  <!-- An N6700 can usually hold up four modules-->
  <commands>
    <command cmdName= "Output" scpi= "OUTPut PARAM1 (@1)" >
      <parameters default="OFF">
        <parameter power="ON">
          <value>
          </value>
        </parameter>
        <parameter power="OFF">
          <value></value>
        </parameter>
      </parameters>
    </command>

    <command cmdName= "Voltage" scpi= "VOLTage:LEVel PARAM1, (@1)" >
      <parameters default="0.0">
        <parameter min="0" max="30.0" >
          <value>0.0</value>
        </parameter>
      </parameters>
    </command>

    <command cmdName= "Current" scpi= "CURRent:LEVel PARAM1, (@1)" >
      <parameters  default="0.0">
        <parameter min="0.0" max="10.0"> 
          <value>
            0.0
          </value>
      </parameter>
      </parameters>
    </command>
  </commands>

</device>

