@{
    ViewBag.Title = "Command and Control (C2)";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-12">
        <p>More information found here</p>
        <p><a class="btn btn-default" href="https://sites.google.com/asu.edu/davila/home">Learn more &raquo;</a></p>

    </div>
</div>
       
