@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Command and Control Software Test System (C2 STS)</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Features</h2>
        <ul>
            <li>Remote control hardware test equipment using SCPI commands</li>
            <li>Single click equipment configuration file validation</li>
            <li>Execute Test Scripts</li>
            <li>Execute single SCPI commands</li>

        </ul>
    </div>
    <div class="col-md-6">
        <h2>Resources</h2>
        <ul>
            <li><a href="https://www.keysight.com/us/en/products/dc-power-supplies/ate-system-power-supply/n6700-series-modular-system-power-supplies-400w-1200w.html">Keysight N6700c Power Supply</a></li>
            <li><a href="https://www.rohde-schwarz.com/us/driver-pages/remote-control/remote-programming-environments_231250.html">SCPI</a></li>
        </ul>
    </div>
</div>